Statistics

In [4]:
#import

import numpy as np   #deals with all kind of mathematical operations

import pandas as pd  # we all are familiar with excel , data in excel is store intht form of rows and columbs
                      # basically we call that as tables

import seaborn as sns   # seaborn is a visualization library , plot the graphs

In [5]:
# seaborn has some inbuild datasets

data = sns.load_dataset('iris')

In [6]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [10]:
#mean

data.mean()

<ipython-input-10-511805976265>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [12]:
#mean of sepal_length

data['sepal_length'].mean()

5.843333333333334

In [13]:
#median

data.median()

<ipython-input-13-0135c4e79a55>:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [14]:
data['sepal_width'].median()

3.0

In [15]:
#mode ---> categorical data

data['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

In [16]:
#standard deviation
data.std()

<ipython-input-16-a47ac8255c06>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [17]:
#variance
data.var()

<ipython-input-17-5bd9b4334350>:3: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [18]:
# range = max - min

#max

max = data['sepal_length'].max()
max

7.9

In [19]:
min = data['sepal_length'].min()
min

4.3

In [20]:
range = max - min
range

3.6000000000000005

In [21]:
#skewness

data['sepal_length'].skew()

#since the skew 0.31 lies in the range of -0.5 to 0.5  , we say data is normal

0.3149109566369728

In [22]:
# kurtosis

data.sepal_length.kurt()

#kurtosis k = 3 ,k < 3, k > 3   since k<3 we say less peak

-0.5520640413156395

In [23]:
# lower quartile Q1

Q1 = data['sepal_length'].quantile(0.25)
Q1

5.1

In [24]:
Q3 = data['sepal_length'].quantile(0.75)
Q3

6.4

In [26]:
#IQR

IQR = Q3 - Q1
IQR

1.3000000000000007

In [27]:
data.corr()

<ipython-input-27-c44ded798807>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [ ]:
# Hypothesis testing


# assumption : there is a claim that average age of IT male professional in Bengaluru is 35 years


#step1 :

#H0:    avg age is 35 years

# Ha :   average is not 35 years

In [32]:
#sample data on whihc i'll be applying Z -test

data1 = [36,25,26,27,33,32,37,27,46,28,29,25,27,28,34,36,37,28,34,35,36,37,28,29,31,26,27,28]

In [33]:
from statsmodels.stats.weightstats import ztest

In [34]:
ztest(data1,value=35)

(-4.050844013763462, 5.10332206560387e-05)

In [35]:
z , p = ztest(data1,value = 35)
print('z =',z,'p =',p)

z = -4.050844013763462 p = 5.10332206560387e-05

In [ ]:
# at 5%level if significance , we reject null hypothesis H0