Statistical Test


There are 2 types of statistical test
1)Parametric Statistical Test:-which assumes the shape of distribution is normal.


Ex:Ztest.t test,ANOVA test


2)Non Parametric Statistical test:-It doesnot assumes any shape conideration of samples

Ex:-Chi square test

## Student’s t-Test
A t-test is a type of inferential statistic used to determine if there is a significant difference between the means of two groups, which may be related in certain features.

H0: Both distributions are same.
H1:Both distributions are not same.

In [ ]:

# generate gaussian data samples
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from numpy import std
# seed the random number generator
seed(1)
# generate two sets of univariate observations
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51
# summarize
print('data1: mean=%.3f stdv=%.3f' % (mean(data1), std(data1)))
print('data2: mean=%.3f stdv=%.3f' % (mean(data2), std(data2)))

data1: mean=50.303 stdv=4.426
data2: mean=51.764 stdv=4.660

In [ ]:
#Calc for independent samples
from scipy.stats import ttest_ind
# compare samples
stat, p = ttest_ind(data1, data2)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
    print('Same distributions (fail to reject H0)')
else:
    print('Different distributions (reject H0)')

Statistics=-2.262, p=0.025
Different distributions (reject H0)

## Paired Student’s t-Test

The correlated t-test is performed when the samples typically consist of matched pairs of similar units, or when there are cases of repeated measures. For example, there may be instances of the same patients being tested repeatedly—before and after receiving a particular treatment. In such cases, each patient is being used as a control sample against themselves.

This method also applies to cases where the samples are related in some manner or have matching characteristics, like a comparative analysis involving children, parents or siblings. Correlated or paired t-tests are of a dependent type, as these involve cases where the two sets of samples are related.

In [ ]:
#if samples data1 ans data2 are related to each other. use ttest_rel
# Paired Student's t-test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import ttest_rel
# seed the random number generator
seed(1)
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51
# compare samples
stat, p = ttest_rel(data1, data2)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
	print('Same distributions (fail to reject H0)')
else:
	print('Different distributions (reject H0)')

Statistics=-2.372, p=0.020
Different distributions (reject H0)

In [ ]:
data1.size

In [ ]:
a=randn(10)
seed(1)
a

array([ 1.62434536, -0.61175641, -0.52817175, -1.07296862,  0.86540763,
       -2.3015387 ,  1.74481176, -0.7612069 ,  0.3190391 , -0.24937038])

## Analysis of Variance Test

The one-way analysis of variance (ANOVA) is used to determine whether there are any statistically significant differences between the means of three or more independent (unrelated) group

H0:All 3 distributions are same.
H1:All distribution are not same.

In [ ]:

# Analysis of Variance test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import f_oneway
# seed the random number generator
seed(1)
# generate three independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 50
data3 = 5 * randn(100) + 52
# compare samples
stat, p = f_oneway(data1, data2, data3)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
	print('Same distributions (fail to reject H0)')
else:
	print('Different distributions (reject H0)')

Statistics=3.655, p=0.027
Different distributions (reject H0)

# One Sample T-test

Claim - Average Marriage Age of Indian male is 30 years

Hypothesised Mean = 30


Ho - Marriage age of male in India is 30

Ha - Marriage age of male in India is not 30

In [ ]:
#Single Sample

ind_mar_age = [26,33,32,35,32,29,26,27,29,30,34,33,40]

In [ ]:
from scipy import stats

print("Skewness of sample is", stats.skew(ind_mar_age))

print("Kurtosis of sample is", stats.kurtosis(ind_mar_age))

Skewness of sample is 0.5151351785444065
Kurtosis of sample is -0.10547821841901106

In [ ]:
stats.ttest_1samp(ind_mar_age,30)

Ttest_1sampResult(statistic=1.114322136443128, pvalue=0.28696207905775795)

Here p value is 0.28 means we are 28.69% sure that null hyposthesis is True.

as per the 95% confidence level the p-value for null hypothesis to be True should be greater than 5% or (0.05) of significance level.

here p_value is 0.28

p_value > a (aplha)

0.28 > 0.05

hence null hypotheis is accepted.

Marriage age of indian male is 30.

## Two Sample independent T-test

Average marriage age of male in India is equal to marriage age of male in Canada

Ho - Avg Marriage age is equal

Ha - Avg age is not equal

In [ ]:
mar_age_ind = [32,28,25,29,31,32,33,32,35,32,37]

mar_age_can = [34,36,39,40,37,35,38,42,38,28,29]

In [ ]:
from scipy import stats

print("Skewness of sample is", stats.skew(mar_age_ind))

print("Kurtosis of sample is", stats.kurtosis(mar_age_ind))

print("Skewness of sample is", stats.skew(mar_age_can))

print("Kurtosis of sample is", stats.kurtosis(mar_age_can))

Skewness of sample is -0.3175592491825672
Kurtosis of sample is -0.07956171332882622
Skewness of sample is -0.694789631109905
Kurtosis of sample is -0.4541647804436395

In [ ]:
from scipy.stats import ttest_ind

ttest_ind(mar_age_ind, mar_age_can)

Ttest_indResult(statistic=-2.7769208356695327, pvalue=0.011635350464349445)

Here P_value is 1% (0.01) < 0.05 (alpha)

So we reject null hypothesis

We accept null hypothesis,

Avg marriage of male in india is not equal to average age of male in canada.

statistics values is -2.77

negative value indicates,

avg marriage age of indian male is less than avg marriage age of male in canada.

# Two Sample Relational Test

A company claims that Redbull drink makes people more active. <br>

Lets check this claim by applying tests.<br>

Response/ Reaction time of five volunteers is registered before and after drinking drink.

In [ ]:
before_rb = [45,53,66,42,57]

after_rb = [35,42,35,36,32]

Ho = Response time is same before and after drinking redbull<br>

Ha = Response time is not same before and after drinking redbull

In [ ]:
from scipy.stats import ttest_rel

ttest_rel(before_rb,after_rb)

Ttest_relResult(statistic=3.4419395040356395, pvalue=0.026247132919799084)

Here P_value is 0.026 (2%)

p_value < 0.05 (alpha)

hence reject null hypothesis and accept alternate hypothesis

Response time before and after drinking redbull is not same.

as t value is positive, means before_rb time is greater than after_rb time

# Analysis of variance (ANOVA)

6 volunteers were given coffee, lemon water, and red bull in three consecutive days respectively and the reading of their respective time/reaction time is noted as below

In [ ]:
coffee = [250,170,180,240,220]

lemon_water = [270,210,150,170,200]

redbull = [220,180,120,210,180]

Define Hypothesis

Ho = Response time after drinking in morning any drink is same

Ha = Response time after drinking in the morning is not same

In [ ]:
from scipy.stats import f_oneway

f_oneway(coffee, lemon_water, redbull)

F_onewayResult(statistic=0.6993865030674846, pvalue=0.5160565545732914)

Here P_value is 0.51 (51%) which is more than 0.05 (5%)

So we accept null hypothesis