# Descriptive statistics

In [ ]:
# imported basic libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
data=sns.load_dataset("iris") # loaded iris data

In [ ]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# Mean
data["sepal_length"].mean()

5.843333333333334

In [ ]:
data.mean()

<ipython-input-6-abc01cf6c622>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [ ]:
# Median
data["sepal_length"].median()

5.8

In [ ]:
data.median()

<ipython-input-8-135339ac59ce>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [ ]:
# Mode -- Multimodal
data['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

In [ ]:
# standard deviation
data["sepal_length"].std()

0.828066127977863

In [ ]:
# variance
data["sepal_length"].var()

0.6856935123042507

In [ ]:
# min
data["sepal_length"].min()

4.3

In [ ]:
# max
data["sepal_length"].max()

7.9

In [ ]:
# range
range=data["sepal_length"].max()-data["sepal_length"].min()
print(range)

3.6000000000000005

In [ ]:
# skew
data['sepal_length'].skew()
# data is normal since 0.3 lies within -0.5 and 0.5

0.3149109566369728

In [ ]:
# kurt
data['sepal_length'].kurt()
# kurtosis is less than 3 , less peaked

-0.5520640413156395

In [ ]:
# lower quartile
Q1=data['sepal_length'].quantile(0.25)
Q1

5.1

In [ ]:
# upper quartile
Q3=data['sepal_length'].quantile(0.75)
Q3

6.4

In [ ]:
# middle quartile
Q2=data['sepal_length'].quantile(0.5)
Q2

5.8

In [ ]:
# IQR=Q3-Q1
IQR=Q3-Q1
IQR

1.3000000000000007

In [ ]:
# corr
data.corr()

<ipython-input-30-7794318a0a7b>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data['sepal_length'].quantile([0.25,0.5,0.75])

In [ ]:
# covariance
data.cov()

<ipython-input-31-f2c15556618e>:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

In [ ]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Hypothesis testing

# Z test

In [ ]:
# There is a claim that average age of IT male professionals in Bangalore is 35 years.
H0: Average age is 35 years
Ha= age is not 35 years

In [ ]:
# z test
data=[36,25,26,27,33,32,37,27,46,28,29,25,27,28,34,35,
      36,37,28,24,29,32,31,26,27,28]
from statsmodels.stats.weightstats import ztest
z,p=ztest(data,value=35)
print("z=",z,"p=",p)

z= -4.498270228650294 p= 6.8508584289955935e-06

In [ ]:
# At 5% level of significance, we reject null hypothesis because p<alpha.
# We accept alternate hypothesis

# T-test

In [ ]:
# T-test
# Botanist claims that average height of certain species is 15 inches.
#H0:avearge height is 15 inches
#  Ha:average age is not 15 inches.

In [ ]:
data=[14,14,16,13,12,17,15,14,15,13,15,14]
from scipy import stats
t,p=stats.ttest_1samp(data,15)
print("t=",t,"p=",p)

t= -1.6848470783484626 p= 0.12014460742498101

In [ ]:
# At 5% level of significance, we accept the null hypothesis since p>alpha.

# Paired T-test

In [ ]:
# Students score befor and after attending study programs are same.
# H0: scores are same
# Ha : scores are different

In [ ]:
pre_test=[88,82,93,75,72,81,67,91,83,79,80,90,91]
post_test=[91,84,88,90,87,92,95,78,89,84,93,94,98]
t,p=stats.ttest_rel(pre_test,post_test)
print("t=",t,"p=",p)

t= -2.503112816173455 p= 0.027756426983475475

In [ ]:
# we reject H0 at 5% level of significance.

# Anova test
A researcher recruits 30 students to participate in a study. The students are randomly assigned to use one of three studying techniques for the next three weeks to prepare for an exam. At the end of the three weeks, all of the students take the same test.

In [ ]:
# H0: scores are same
# H1: scores are different

In [ ]:
g1=[85,86,88,75,78,94,98,79,71,80]
g2=[91,92,65,74,72,69,80,81,56,86]
g3=[72,45,87,65,57,89,60,55,62,80]
from scipy.stats import f_oneway
anova,p=f_oneway(g1,g2,g3)
print("anova=",anova,"p=",p)

anova= 4.786946736684172 p= 0.01661880053808376

In [ ]:
# Reject H0 at 5% level of significance since p<alpha.